body{
  background-image: url(../assets/sea.png);
}
div.static {
    align-self: center;
    position: static;
    border: 3px solid #73AD21;
    width: 100%;
	  height: 100%;
    font-size: 30px;
    color:white;
}
div.p1 {
    align-self: center;
    position: static;
    border: 3px solid #73AD21;
    width: 100%;
	  height: 100%;
    font-size: 20px;
    color:black;
}

.center{
  text-align: center;
}
